<p>table works!</p>
<table>
    <thead>
        <tr *ngFor="let items of tablehead">
            <td>{{items.id}}</td>
            <td>{{items.name}}</td>
            <td>{{items.surname}}</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let items of tableArr">
            <td>{{items.id}}</td>
            <td>{{items.name}}</td>
            <td>{{items.surname}}</td>
        </tr>
    </tbody>
   
</table>


<div class="pagination"  *ngFor="let items of btnArr">
    <button (click)="specific($event)">
        {{items}}
    </button>
</div>