*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}

.table{
    width: 80%;
    border:1px solid black;
    margin: 50px auto;
    text-align: center;
}

.table-th{
    color:brown;
    font-size:28px;
}

.div-wrapper{
    overflow: hidden;
}
.table{
    overflow: auto;
}