app-user-form{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    width: 80%;
    height:100%;
    background-color: rgb(197, 131, 131);
  }
  app-user-list table{
    background-color: white;
  }
  .opacity1{
    opacity: 1;
  }

  .opacity05{
    opacity: 0.1;
  }
  app-user-list table{
    filter: drop-shadow(150%);
  

  }
  .hide{
    position: absolute;
    right: -1600px;
    transition: 2s ease-in-out;
  }
  .show{
    transition: 2s ease-in-out;

  }
